<a href="https://colab.research.google.com/github/fraconca/PyLab/blob/master/018_DATASET_COM_TABLIB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install tablib

Requirement already satisfied: tablib in /usr/local/lib/python3.6/dist-packages (1.1.0)

In [0]:
import tablib

In [81]:
# Cria cabeçalhos 
headers = ('Nome', 'Sobrenome', 'Idade')

#Cria dados para conjunto
data = [
    ('Flavio', 'Conca', 36),
    ('João', 'Silva', 26),
    ('Maria', 'Santos', 23)
]

# Une cabeçalhos ao Dataset
data = tablib.Dataset(*data, headers=headers)

print(data)

Nome  |Sobrenome|Idade
------|---------|-----
Flavio|Conca    |36
João  |Silva    |26
Maria |Santos   |23

In [82]:
# Inserir nova coluna SEXO
data.append_col(['M', 'M', 'F'], header='Sexo')

# Imprime Resultado
print(data)

Nome  |Sobrenome|Idade|Sexo
------|---------|-----|----
Flavio|Conca    |36   |M
João  |Silva    |26   |M
Maria |Santos   |23   |F

In [83]:
#Acessar dados apenas da coluna 1
data.get_col(3)

['M', 'M', 'F']

In [84]:
# Deletar coluna com index SEXO
del data['Sexo']
print(data)

Nome  |Sobrenome|Idade
------|---------|-----
Flavio|Conca    |36
João  |Silva    |26
Maria |Santos   |23

In [85]:
# Exclui o objeto/elemento da linha zero [0] da array. 
del data[0:1]
print(data)

Nome |Sobrenome|Idade
-----|---------|-----
João |Silva    |26
Maria|Santos   |23

In [72]:
data['Nome']

['João', 'Maria']

In [73]:
data[0]

('João', 'Silva', 26)

In [74]:
data['Idade']

[26, 23]

In [75]:
data[0][0]

'João'

In [43]:
var_nome = data[0][0]
print(var_nome)

Flavio